---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts['pkg_mgr'] == 'apt'

- name: Install packages
  ansible.builtin.package:
    name: "{{ wireguard_packages }}"
    state: present
