---
- name: Restart wireguard
  ansible.builtin.systemd:
    name: "wg-quick@{{ wg_interface }}"
    state: restarted

- name: Reload nftables
  ansible.builtin.systemd:
    name: nftables
    state: reloaded
